//colors
$primary_color: #e5e5e5;
$secondary_color: #007bc1;
$dark_color: #004a75;
$overlay_color: #00407ca1;

$subscribe_color: #ff8000;

$font_family_1: "Open Sans", sans-serif;
$font_family_2: "Open Sans", sans-serif;

$a-1: 10px 10px 10px 10px;
$oneside-1: 10px;
$oneside-2: 20px;

@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    justify-content: space-between;
  }

  .grid-item {
    border: 1px solid #eee;
    padding: 20px;
  }

  .grid-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .notification-panel {
    display: flex;
    width: 90%;
    margin: 2rem auto;
    line-height: 1.6;
    flex-direction: column;
  }

  .jumbotron {
    background: url(../assets/images/work-desk__dustin-lee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
  }

  .overlay {
    background-color: $overlay_color;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  .hero-text {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 7rem auto;
    line-height: 1.6;
  }

  .newsletter {
    background-color: $overlay_color;
    padding: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 450px;
  }

  .newsletter-header {
    display: flex;
    justify-content: space-between;
  }

  .newsletter-action {
    width: 100%;
  }

  .close-newsletter {
    cursor: pointer;
  }
}
